[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pytest = "*"
httpx = "*"
matplotlib = "*"
numpy = "*"
flask-restful = "*"
python-dotenv = "*"
fpdf2 = "*"
pandas = "*"
scikit-learn = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
