[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pytest = "*"
httpx = "*"
matplotlib = "*"
numpy = "*"
flask-restful = "*"
boto3 = "*"
python-dotenv = "*"
pdfkit = "*"
wkhtmltopdf = "*"
fpdf2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
